[Desktop Entry]
Name=CUK밥
Comment=Catholic University of Korea Cafeteria Menu
Exec=CUK밥
Icon=cuk_logo
Terminal=false
Type=Application
Categories=Utility;Education;
StartupWMClass=CUK밥
